* {
	margin: 0;
	padding: 0;
}

.card-group .bookCard {
	width: 18rem;
	flex: auto;
}

.main-container {
	width: 80%;
	margin: auto;
	flex-direction: column;
}

.login-form-container {
	margin: auto;
}

.login-form-container img {
	width: 70%;
}

.login-form {
	padding: 10px;
	width: 50%;
}

.login-form > div {
	margin-bottom: 15px;
}

.book-group-container {
	width: 80%;
	margin:auto;
}